
@{
    ViewBag.Title = "Index Page";
}

<h2>Info<br></h2>

<strong>Name</strong> : @ViewData["Name"]<br />
<strong>Password</strong> : @ViewData["Password"]<br />
<strong>Email</strong> : @ViewData["Email"]<br />

