@model BestBuy.Models.ProductsModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<header>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/adding_product.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <title>Adding Product</title>
    @*    <div class="desktop-header-top">
    <label>BEST_BUY</label>
    <div class="header-main">
    <div class="content-header">
    <img class="logo" src="/images/logo.png">
    <div class="header-main-form">
    <form class="form" method="post">
    <input class="search-input" placeholder="Search" type="search">
    </form>
    </div>
    <div class="pull-right">
    <a class="add-button" asp-action="ProductAddingPage">
    <div class="add-icon">
    Add products
    </div>
    </a>
    </div>
    </div>
    </div>
    </div>*@
</header>
<body>
    <div class="content">
        <div class="l-centre">
            <form action='' class='form'>
                <p class='field half'>
                    <label class='label' for='select'>Category</label>
                    <select asp-items="Html.GetEnumSelectList<BestBuy.Models.ProductsCategory>()" class='select' id='select'></select>
                </p>
                <p class='field half'>
                    <label class='label' for='select'>Country</label>
                    <select asp-items="Html.GetEnumSelectList<BestBuy.Models.County>()" class='select' id='select'></select>
                </p>
                <p class='field half required'>
                    <label class='label' for='Price'>Price</label>
                    <input class='text-input' id='Price' required name='Price' max="1000000" type='number'>
                </p>
                <p class='field'>
                    <label class='label' for='about'>About</label>
                    <textarea class='textarea' cols='50' id='about' name='about' rows='4'></textarea>
                </p>
                <p class='field half'>
                    <input class='button' type='submit' value='Create'>
                </p>
            </form>
            <p class='field'>
                <form action="/Home/SaveUploadedFile" method="post" id="imageForm" class="dropzone">
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                    </div>
                        <input class='button' type='submit' value='Create'>
                </form>
            </p>
        </div>
    </div>
</body>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script src="~/js/upload_image.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/_framework/aspnetcore-browser-refresh.js"></script>
</html>
