@{
    ViewData["Title"] = "View";
}

<link rel="stylesheet" href="/css/main_page.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">

<body>
    <div class="home-products home-products-latest">
        <div class="products-container products-container_latest">
            <div class="content">
                <div class="section-title section-title--grey">
                    <div class="l-center section-title-inner">
                        <h2 class="section-title_name">ALL PRODUCTS</h2>
                    </div>
                </div>
                <section>
                    <div id="ccc" class="products">
                        <div id="product1" class="products-i rounded">
                            <div class="products-bookmarking">
                                <button onclick="addProduct().apply(this)" data-mul data-disable="true" class="delete-bookmark" data-remote="true" data-method="put">
                                    <span>Seçilmişlərə əlavə et</span>
                                </button>
                            </div>
                            <a target="_blank" class="products-link">
                                <div class="products-top">
                                    <img alt="Mercedes Bens" loading="lazy" src="/images/merc.jpg">
                                    <div class="products-paid">
                                        <span class="featured-icon"></span>
                                        <span class="vipped-icon"></span>
                                    </div>
                                </div>
                                <div class="products-price-container">
                                    <div class="products-price">
                                        <span class="price-val">15 000</span>
                                        <span class="price-cur">AZN</span>
                                    </div>
                                </div>
                                <div class="products-name">Mercedes Bens</div>
                                <div class="products-created">Mingəçevir, bugün, 22:00</div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</body>

<script src="~/js/main_page.js"></script>
<script src="~/js/add_card].js"></script>
