@{
    ViewData["Title"] = "View";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View - LoginPanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main_page.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="desktop-header-top">
            <label>BEST_BUY</label>
            <div class="header-main">
                <div class="content-header">
                    <img class="logo" src="/images/logo.png">
                    <div class="header-main-form">
                        <form class="form" method="post">
                            <input class="search-input" placeholder="Search" type="search">
                        </form>
                    </div>
                    <div class="pull-right">
                        <a class="add-button" asp-action="ProductAddingPage">
                            <div class="add-icon">
                                Add products
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="home-products home-products-latest">
            <div class="products-container products-container_latest">
                <div class="section-title section-title--grey">
                    <div class="l-center section-title-inner">
                        <h2 class="section-title_name">ALL PRODUCTS</h2>
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div id="ccc" class="products">
                <div class="products-i rounded">
                    <div class="products-bookmarking">
                        <button onclick="addProduct().apply(this)" data-mul="" data-disable="true" class="delete-bookmark" data-remote="true" data-method="put">
                            <span>Add to Favorites</span>
                        </button>
                    </div>
                    <a target="_blank" class="products-link">
                        <div class="products-top">
                            <img alt="Mercedes Bens" loading="lazy" src="/images/merc.jpg">
                            <div class="products-paid">
                                <span class="featured-icon"></span>
                                <span class="vipped-icon"></span>
                            </div>
                        </div>
                        <div class="products-price-container">
                            <div class="products-price">
                                <span class="price-val">15 000</span>
                                <span class="price-cur">AZN</span>
                            </div>
                        </div>
                        <div class="products-name">Mercedes Bens</div>
                        <div class="products-created">Mingəçevir, bugün, 22:00</div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</body>

<script src="~/js/main_page.js"></script>
<script src="~/js/add_card].js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/_framework/aspnetcore-browser-refresh.js"></script>

</html>
