*, ::after, ::before {
    box-sizing: border-box;
}

a {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

.content {
    padding: 0;
    height: auto;
    min-height: calc(100% - 740px);
}

div {
    display: block;
}

.container, .container-sm {
    min-width: 100%;
}

body {
    min-height: 100%;
    background-color: #f8f9fd;
}

section {
    display: block;
}

.section-title_name {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 5px;
}

.section-title-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #f8f9fd;
}

.section-title--grey {
    min-width: 100%;
    height: 58px;
    padding: 0;
    margin: 0 0 25px;
    background-color: #f6f7fa;
}


    .section-title--grey .section-title_name {
        color: #8d94ad;
    }


.l-center {
    width: 950px;
    margin: 0px auto;
    background-color: #f8f9fd;
}

.home-products {
    background-color: #f8f9fd;
}

.products-container {
    font-size: 0;
}


.products {
    position: absolute;
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10%;
}

.products-i {
    display: inline-block;
    vertical-align: top;
    width: 228px;
    height: 278px;
    margin: 0 12px 12px 0;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0 17px 34px 0 rgba(44,39,56,0.04),0 8px 17px 0 rgba(44,39,56,0.02);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

    .products-i .add_bookmark, .products-i .remove_bookmark {
        display: block;
        position: relative;
        top: 10px;
        right: 10px;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        opacity: 0.9;
        transition: all ease 0.25s;
        transition-property: all;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        transition-delay: 0s;
        background-image: url(/images/full-shopping-cart.svg);
        border: none;
        background-color: transparent;
    }

.delete-bookmark {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    opacity: 0.9;
    transition: all ease 0.25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background-image: url(/images/empty-shopping-cart.svg);
    border: none;
    background-color: transparent;
}

.products-link {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-decoration: none;
}

.products-top {
    position: relative;
    z-index: 1;
    height: 181px;
    margin-bottom: 10px;
}

    .products-top img {
        overflow: hidden;
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: #fff;
        word-wrap: break-word;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

.products-container {
    font-size: 0;
}


.products-bookmarking {
    font-size: 0;
}

.products-container {
    font-size: 0;
}


.products-price {
    margin: 0 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #212c3a;
    font-size: 18px;
    font-weight: bold;
}

.price-val {
    font-weight: bold;
}

.price-cur {
    padding-left: 0.3em;
}


.products-name {
    margin: 0;
    padding: 0;
    display: block;
    display: -webkit-box;
    max-height: 38.4px;
    font-size: 16px;
    line-height: 1.2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 10px;
    color: #212c3a;
}

.products-created {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    padding: 0 10px;
    color: #8d94ad;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 8px;
    box-sizing: border-box;
}



.footer-container {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: black;
}


.abc {
    min-width: 100%;
    min-height: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.logo {
    color: transparent;
    /*font: 0/0 a;*/
    text-shadow: none;
    display: inline-table;
    vertical-align: top;
    width: 95px;
    height: auto;
    background-position: center left;
    background-repeat: no-repeat;
}

.content-header {
    display: flex;
    margin: 0 auto;
    width: 950px;
}

div {
    display: block;
}

.header-main {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #4b70e2;
    display: flex;
    position: absolute;
    top: 20px;
    width: 100%;
    height: 80px;
}

.desktop-header-top {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    height: 23px;
}


.bottom-container {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    bottom: 0;
    background-color: black;
}

.header-main-form {
    margin-left: 15px;
    width: 100%;
    display: flex;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.pull-right {
    float: right;
}

.footer-container {
    min-width: 100%;
    background-color: black;
}

.search-input {
    max-width: 100%;
    min-width: 80%;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    margin-left: 15px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

    .search-input:focus {
        box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
    }

.add-icon {
    min-height: max-content;
    min-width: max-content;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url(/images/plus-circle.svg);
    margin: 5px -5px 0 10%;
}

.add-button{
    display: block;
    padding: 10px;
    vertical-align: central;
    text-decoration: none;
    min-width: 180px;
    height: 50px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    text-align: center;
    background: linear-gradient(70.56deg, #11998E, #38EF7D);
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    border: none;
    outline: none;
}
